.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    box-shadow:0px 10px 20px 10px rgba(221, 221, 221, 0.7);
}
.zoom:hover {
    transform: scale(1.07); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
* {
    font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

html,
body,
header,
.carousel {
    height: 60vh;
}
@media (max-width: 740px) {

    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }
}
@media (min-width: 800px) and (max-width: 850px) {

    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }
}
